body {
  background-image: url(bg1.jpg);
  background-repeat: no-repeat;
  background-size: 100% 600px;
  margin: 0;
  text-align: center;
}
h1 {
  color: olive;
  letter-spacing: 2px;
}
#box {
  margin-left: 34%;
  margin-right: 30%;
  padding: 5px;
  border-style: solid;
  background-color: rgb(49, 45, 45);
  border-radius: 20px;
}
table {
  border-collapse: separate;
  border-spacing: 10px 20px;
}
#display {
  margin-top: 10px;
  margin-left: 10px;
  width: 330px;
  height: 100px;
  padding-right: 20px;
  text-align-last: right;
  background-color: white;
  border-style: solid;
  border-radius: 10px;
}
#operation {
  font-size: 16px;
  color: rgba(34, 24, 24, 0.808);
}
#ans {
  font-size: 66px;
}
button {
  font-style: oblique;
  font-size: xx-large;
  border-radius: 10px;
  cursor: pointer;
  background-color: white;
  width: 80px;
  height: 60px;
}
